**/__pycache__/

.vscode
.venv
.env
.codex

catechism_payloads.json

qdrant_data/
docker/local

CatholicCatechismAPIServerEC2InstanceKeyPairVirginia.pem

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup